.customer-top-line {
  margin-top: 110px;
}

.customers {
  .title {
    font-size: 20px;
    margin: 20px 0;
  }

  .images {
    text-align: center;
    .logo {
      padding: 0;
      margin: 20px 10px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }

    @mixin customer-logo($logoPath) {
      background-image: url($logoPath);
    }

    .logo-cinema-ticket {
      width: 110px;
      height: 25px;
      @include customer-logo("../../images/customer/cinematicket_dark.svg")
    }
    .logo-shahrzad {
      width: 86px;
      height: 50px;
      @include customer-logo("../../images/customer/shahrzad.svg")
    }
    .logo-tagmond {
      width: 173px;
      height: 25px;
      @include customer-logo("../../images/customer/tagmond.svg")
    }
    .logo-5 {
      @include customer-logo("../../images/customer/tagmond.svg")
    }
    .logo-6 {
      @include customer-logo("../../images/customer/tagmond.svg")
    }
  }
}