.customer-top-line {
  margin-top: 110px;
}

.customers {
  .title {
    font-size: 20px;
    margin-bottom: -20px;
    margin-top: 60px;
  }

  .images {
    text-align: center;
    margin-bottom: 30px;

    .logo {
      padding: 0;
      margin: 20px 10px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }

    @mixin customer-logo($logoPath) {
      background-image: url($logoPath);
    }

    .logo-cinema-ticket {
      width: 110px;
      height: 25px;
      @include customer-logo("../../images/customer/cinematicket_dark.svg")
    }
    .logo-shahrzad {
      width: 86px;
      height: 50px;
      @include customer-logo("../../images/customer/shahrzad.svg")
    }
    .logo-tagmond {
      width: 173px;
      height: 25px;
      @include customer-logo("../../images/customer/tagmond.svg")
    }
    .logo-2nate {
      width: 100px;
      height: 35px;
      @include customer-logo("../../images/customer/2nate.svg")
    }
    .logo-hiholiday {
      width: 144px;
      height: 30px;
      @include customer-logo("../../images/customer/hiholiday.svg")
    }
  }
}