.customers {
  background-color: black;
z
  .title {
    font-size: 20px;
  }

  .images {
    text-align: center;
    .logo {
      padding: 0;
      margin: 0;
      width: 181px;
      height: 58px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }

    @mixin customer-logo($logoPath) {
      background-image: url($logoPath);
    }

    .logo-1 {
      @include customer-logo("../../images/customer-1.png")
    }
    .logo-2 {
      @include customer-logo("../../images/customer-1.png")
    }
    .logo-3 {
      @include customer-logo("../../images/customer-1.png")
    }
    .logo-4 {
      @include customer-logo("../../images/customer-1.png")
    }
    .logo-5 {
      @include customer-logo("../../images/customer-1.png")
    }
  }
}