.footer {
  left: 0;
  right: 0;
  position: absolute;
  padding-top: 80px;

  &:before {
    content: '';
    z-index: -2;
    width: 610px;
    height: 491px;
    background: url("../../images/footer-gradiant.svg") top left no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  ul {
    padding-right: 0;
    li {
      font-size: $footerTitleFontSize;
      color: $titleFontColor;
      margin: 7px 0;
    }
  }

  .footer-logo {
    margin: 0 auto 40px auto;
    width: 135px;
    height: 30px;
    background: url("../../images/footer-logo.svg") no-repeat;
    background-size: 135px 30px;
  }

  .social-networks {
    .icon-link {
      background-color: #f2f3f5;
      padding: 16px 8px 2px 11px;
      border-radius: 50%;
      margin: 10px;
    }

    .icon {
      width: 26px;
      height: 22px;
      background-size: 100% 100%;
      display: inline-block;
    }

    .telegram {
      background: url("../../images/social/telegram.svg") no-repeat;
    }

    .instagram {
      background: url("../../images/social/instagram.svg") no-repeat;
    }

    .twitter {
      background: url("../../images/social/twitter.svg") no-repeat;
    }
  }

  .bottom {
    margin: 40px 0 20px 0;

    a{
      margin: 0 20px;
    }

    .copyright {
      span {
        margin: 0 20px;
        font-size: $footerTitleFontSize;
      }
    }
  }

}
// extra small
@media (max-width: 575px) {
  .footer {
    &:before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 25px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    &:before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 40px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  and (max-width: 991px) {
  .social-networks {
    margin-top: 30px !important;
    text-align: right !important;
  }
}