.footer {
  left: 0;
  right: 0;
  position: absolute;
  padding-top: 80px;

  &:before {
    content: '';
    z-index: -2;
    width: 610px;
    height: 491px;
    background: url("../../images/footer-gradiant.svg") top left no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  ul {
    padding-right: 0;
    li {
      color: $titleFontColor;
      opacity: 0.6;
      margin: 7px 0;
    }
  }

  .bottom {
    margin: 40px 0 20px 0;
  }

}
// extra small
@media (max-width: 575px) {
  .footer {
    &:before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 25px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    &:before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 40px;
    }
  }
}

