input, textarea, select {
  box-sizing: border-box;
  border: 1px solid #c3c6cd;
  background: rgba(242, 243, 245, 0.5);
  padding: 10px;
  width: 100%;
  font-family: $fontFamily;
  margin-bottom: 10px;
  border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
  background: #ffffff;
  border: 1px solid #f9d042;
  box-shadow: 0 0 8px #f9d042;
}

input {
  height: 37px;
}

label span {
  color: #838383;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 28px;
  border: none;
  font-size: 16px !important;
  font-family: IRANSansMedium !important;
  transition: 0.4s;
  cursor: pointer !important;

  &:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.btn-gold {
  background-image: linear-gradient(45deg, #FFE75A 0%, #F7CB3D 100%) !important;
  box-shadow: 0 5px 10px 0 rgba(255, 214, 71, 0.25);
  color: #584B00 !important;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 214, 71, 0.25) !important;
  }
}

.btn-normal {
  background: #FFFFFF;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03);
  color: #303030 !important;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03) !important;
  }
}