.header {
  margin-bottom: 40px;

  .new-logo {
    height: 35px;
    background-size: 100%;
    width: 156px;
    background: url("../../images/new-logo.svg") no-repeat;
    margin-top: 20px;
  }

  .links {
    li {
      margin: 0 20px;
      display: inline-block;
      font-size: $textFontSize;
      color: $titleFontColor;
    }
  }

  .icon-menu {
      float: left;
      margin: 10px;
      font-size: 30px;
  }

  .bg-mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #030C27;
    opacity: 0.55;
    bottom: 0;
    z-index: 1000;
  }
  .mobile-menu {
    z-index: 1001;
    background-color: #fff;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;

    .top {
      background-color: #fff;
      text-align: left;
      padding: 10px;

      .icon-close {
        cursor: pointer;
        font-size: 30px;
      }
    }

    .middle {
      background-color: #fff;

      ul {
        padding-right: 30px;

        li {
          padding: 5px 0;
        }
      }
    }

    .bottom {
      background-color: #eee;
      padding: 20px 30px;
    }

  }
}