.header {
  margin-bottom: 40px;

  .new-logo {
    height: 35px;
    background-size: 100%;
    width: 156px;
    background: url("../../images/new-logo.svg") no-repeat;
    margin-top: 10px;
  }

  .links {
    li {
      margin: 0 20px;
      display: inline-block;
      font-size: $textFontSize;
      color: #ffffff;
    }

    .btn-login-to-account {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 5px;
      margin-top: -6px;

      .icon-person {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-left: -10px;
        margin-right: 10px;
        color: #fff;
      }
    }
  }

  .icon-menu {
    float: left;
    margin: 10px;
    font-size: 30px;
    color: #ffffff;
  }

  .bg-mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    z-index: 1000;
  }

  .mobile-menu {
    z-index: 1001;
    background-color: #fff;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;

    .top {
      background-color: #fff;
      text-align: left;
      padding: 10px;

      .icon-close {
        cursor: pointer;
        font-size: 30px;
        margin: 10px;
        display: inline-block;
      }
    }

    .middle {
      background-color: #fff;

      ul {
        padding-right: 30px;

        li {
          padding: 5px 0;
        }
      }
    }

    .bottom {
      background-color: #eee;
      padding: 20px 30px;
    }

  }
}


// extra small
@media (max-width: 575px) {

}

@media (min-width: 576px)  and (max-width: 767px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}