.header {
  margin-bottom: 40px;

  .new-logo {
    height: 35px;
    background-size: 100%;
    width: 156px;
    background: url("../../images/new-logo.svg") no-repeat;
    margin-top: 10px;
  }

  .blue-bg {
    &:before {
      content: '';
      background: url("../../images/index/blue-bg.svg") top left no-repeat;
      z-index: -1;
      width: 916px;
      height: 607px;
      position: absolute;
      right: calc(57% - 10rem);
      background-size: 916px 607px;
    }
  }

  .links {
    li {
      margin: 0 20px;
      display: inline-block;
      font-size: $textFontSize;
      color: #ffffff;
    }

    .btn-login-to-account {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 5px;

      .icon-person {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-left: -10px;
        margin-right: 10px;
        color: #fff;
      }
    }
  }

  .icon-menu {
    float: left;
    margin: 10px;
    font-size: 30px;
    color: #ffffff;
  }

  .bg-mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #030C27;
    opacity: 0.55;
    bottom: 0;
    z-index: 1000;
  }

  .mobile-menu {
    z-index: 1001;
    background-color: #fff;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;

    .top {
      background-color: #fff;
      text-align: left;
      padding: 10px;

      .icon-close {
        cursor: pointer;
        font-size: 30px;
      }
    }

    .middle {
      background-color: #fff;

      ul {
        padding-right: 30px;

        li {
          padding: 5px 0;
        }
      }
    }

    .bottom {
      background-color: #eee;
      padding: 20px 30px;
    }

  }
}


// extra small
@media (max-width: 575px) {
  .blue-bg {
    &:before {
      width: 100% !important;
      top: -470px;
      left: -100px;
    }
  }
}


@media (min-width: 576px)  and (max-width: 767px){
  .blue-bg {
    &:before {
      top: -470px;
      left: -100px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .blue-bg {
    &:before {
      top: -120px;
      left: -380px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){
  .blue-bg {
    &:before {
      top: -140px;
      left: -270px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .blue-bg {
    &:before {
      top: -130px;
      left: -130px;
    }
  }
}