.page-section {
  margin: 70px 0;
  padding: 40px 90px;

  img.img {
    width: 100%;
  }

  span.note {
    color: #828282;
    font-size: 18px;
  }

  h3 {
    font-size: 28px;
    margin-top: 5px;
  }

  .section-content {
    color: #303030;
    font-size: 16px;
  }
}