block content
    div.horizontal-line.customer-top-line

    div.row.customers
        div.col-xs-12.title.ta-center
            | اعتماد به سادگی به دست نمی‌آید
        div.col-xs-12.images
            div.logo.logo-tagmond
            div.logo.logo-hiholiday
            div.logo.logo-cinema-ticket
            div.logo.logo-2nate
            div.logo.logo-shahrzad

    div.horizontal-line