block content
    div.horizontal-line.customer-top-line

    div.row.customers
        div.col-xs-12.title.ta-center
            | اعتماد به سادگی به دست نمی‌آید
        div.col-xs-12.images
            a(href="https://www.cinematicket.org")
                div.logo.logo-cinema-ticket
            a(href="https://tagmond.com")
                div.logo.logo-tagmond
            a(href="http://www.shahrzadseries.com")
                div.logo.logo-shahrzad
            a(href="https://2nate.com")
                div.logo.logo-2nate
            a(href="http://hiholiday.ir")
                div.logo.logo-hiholiday

    div.horizontal-line