block content
    div.row.customers
        div.col-xs-12
            | اعتماد به سادگی به دست نمی‌آید
        div.col-xs
            div.logo.logo-1
        div.col-xs
            div.logo.logo-2
        div.col-xs
            div.logo.logo-3
        div.col-xs
            div.logo.logo-4
        div.col-xs
            div.logo.logo-5
        div.col-xs
            div.logo.logo-6
