block content
    div.horizontal-line.customer-top-line

    div.row.customers
        div.col-xs-12.title
            | اعتماد به سادگی به دست نمی‌آید
        div.col-xs-12.images
            div.logo.logo-cinema-ticket
            div.logo.logo-tagmond
            div.logo.logo-shahrzad
            div.logo.logo-5
            div.logo.logo-6

    div.horizontal-line