block content
 
    div.row.customers
        div.col-xs-12.images
            div.logo.logo-2nate
            div.logo.logo-tagmond
            div.logo.logo-p24
            div.logo.logo-hiholiday
            div.logo.logo-cinema-ticket
            div.logo.logo-shahrzad

    div.horizontal-line