block content
    div.horizontal-line

    div.row.customers
        div.col-xs-12.title
            | اعتماد به سادگی به دست نمی‌آید
        div.col-xs-12.images
            div.logo.logo-1
            div.logo.logo-2
            div.logo.logo-3
            div.logo.logo-4
            div.logo.logo-5

    div.horizontal-line