div.footer
    div.row.content
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12
            div.title محصولات
            div.row
                ul.col-xs
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                ul.col-xs
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت

        div.col-lg-3.col-md-3.col-sm-3.col-xs-6
            div.title
                |ارتباط بیشتر
            ul
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت

        div.col-lg-3.col-md-3.col-sm-3.col-xs-6
            div.title
                |ارتباط بیشتر
            ul
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت

        div.col-lg-2.col-md-2.col-sm-2.col-xs-12
                div.title
                    |لیست آخر
                ul
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت

        div.col-xs-12.bottom.ta-center
            span
            |© زرین‌پال ۱۳۹۰-۱۳۹۶