block header
    div.row.header
        div.col-xs
            div.new-logo
        div.col-xs
            ul.links
                a(href="#")
                    li تعرفه
                a(href="#")
                    li خانه
                a(href="#")
                    li تماس‌ با ما
                a(href="#")
                    li وبلاگ
                a(href="#")
                    li ورودبه‌حساب