block variables

if(typeof(lang) == "undefined")
	lang = "fa";

doctype html
html(lang=(lang == "fa" ? 'fa-IR' : 'en') dir=(lang == "fa" ? 'rtl' : 'ltr'))
	head

	block title
	if(lang == "fa")
		title
			=pageTitle
			|  | زرین‌پال، پرداخت‌یار‌ زرین


	link(rel="stylesheet", href="/assets/app.css")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="viewport", content="width=device-width, initial-scale=4")
	meta(charset="utf-8")
	meta(property='og:title' content='درگاه  پرداخت اینترنتی آسان پرداخت زرین‌پال')
	meta(name="viewport", content="width=device-width, initial-scale=4")
	meta(charset="utf-8")

	link(rel="publisher" href="https://plus.google.com/+Zarinpal")
	meta(name="keywords" content="کیف پول,درگاه مستقیم,پرداخت موبایلی,درگاه پرداخت درون برنامه ای,درگاه پرداخت بانکی,درگاه موبایلی,کیف پول آنلاین,ussd اختصاصی,زرین‌پال,درگاه واسط,درگاه پرداخت, پرداخت‌یار, پرداخت یار")
	meta(name='description' content="زرین‌پال ارائه دهنده درگاه پرداخت,کیف‌پول,کیف پول آنلاین,درگاه ussd,پرداخت درون برنامه ای,درگاه مستقیم,پرداخت موبایلی,درگاه اختصاصی,درگاه واسط,درگاه پرداخت بانکی می باشد.")

	meta(property='og:locale' content='fa_IR')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://www.zarinpal.com')
	meta(property='og:title' content='درگاه  پرداخت اینترنتی آسان پرداخت زرین‌پال')
	meta(property='og:description' content="زرین‌پال ارائه دهنده درگاه پرداخت,کیف‌پول,کیف پول آنلاین,درگاه ussd,پرداخت درون برنامه ای,درگاه مستقیم,پرداخت موبایلی,درگاه اختصاصی,درگاه واسط,درگاه پرداخت بانکی می باشد.")
	meta(property='og:image' content='https://cdn.zarinpal.com/theme/payment_gateway/img/favicon.png')

	meta(name="robots" content="index follow")
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	link(rel="stylesheet", href="/assets/css/app.css")

	//meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	//meta(name="apple-mobile-web-app-capable" content="yes")
	//link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
	//link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
	//link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
	//link(rel="manifest", href="/manifest.json")
	//link(rel="mask-icon", href="/safari-pinned-tab.svg")
	//meta(name="theme-color", content="#ffffff")


	body
		div.content
			block content

		script(src="/assets/js/app.js")
