doctype html
block variables

html(lang="fa")
	head
		link(rel="stylesheet", href="/assets/app.css")
		meta(name="viewport", content="width=device-width, initial-scale=4")
		meta(charset="utf-8")

	body
		div.content
			block content


		script(src="/assets/app.js")
