// extra small
@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }

  .xs-ta-center {
    text-align: center;
  }

  .left-border {
    border-left: none !important;
  }

  .right-border {
    border-right: none !important;
  }

  .xs-visible {
    display: block;
  }

  .xs-hidden {
    display: none;
  }

  .p-r-50 {
    padding-right: 20px !important;
  }

  .bg {
    width: 100%;
  }
}

@media only screen and (min-width: 575px) {
  .xs-visible {
    display: none;
  }
  .xs-hidden {
    display: block;
  }

  .p-r-50 {
    padding-right: 20px !important;
  }

  .bg {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)  and (max-width: 767px){
  .content {
    width: auto;
  }

  .hidden-sm {
    display: none;
  }

  .sm-ta-center {
    text-align: center;
  }

  .left-border {
    border-left: none !important;
  }

  .right-border {
    border-right: none !important;
  }

  .p-r-50 {
    padding-right: 20px !important;
  }

  .bg {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  and (max-width: 991px){
  .content {
    width: 724px;
  }

  .hidden-md {
    display: none;
  }

  .md-ta-center {
    text-align: center;
  }

  .left-border {
    border-left: none !important;
  }

  .right-border {
    border-right: none !important;
  }

  .bg {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){
  .content {
    width: 940px;
  }

  .hidden-lg {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }

  .hidden-xl {
    display: none;
  }
}