// extra small
@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .content {
    width: auto;
  }

  .hidden-sm {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .content {
    width: 724px;
  }

  .hidden-md {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .content {
    width: 940px;
  }

  .hidden-lg {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }

  .hidden-xl {
    display: none;
  }
}