.aboutus-page {
  .top-page-image {
    margin: 0 auto;
  }

  .pictured-page-title {
    width: 100%;
    height: 220px;
    color: #FFFFFF;
    text-align: center;
    background-size: cover;
    border-radius: 10px;
    background: url("../../images/aboutus-header.png") center;
    margin-bottom: 70px;

    span.text {
      font-size: 28px;
      line-height: 7.7;
      font-weight: bolder;
    }
  }

  #why-zarin {
    background-color: #f2f3f5;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .aboutus-page {
    .top-page-image {
      width: 557px;
    }
  }
}