.about_us {
  .section-one {
    .zarin-logo {
      background: url("../../images/about_us/zarinpic.svg") no-repeat center;
      width: 330px;
      height: 340px;
      background-size: cover;
      position: relative;
      margin: auto;
    }

    .title-describe {
      border-bottom: none !important;
    }
  }

  .section-two {
    .personal {
      margin-top: 61px;
      
      .background-line {
        &:before {
          margin: 45px auto;
          content: '';
          position: absolute;
          width: 350px;
          height: 1px;
          background: #BFC6D2;
          z-index: -1;
        }
      }

      .avatar-img {
        .avatar {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .name {
        margin: 30px auto 18px auto;
        padding: 0px 8px 0px 8px;
        text-align: center;
        width: max-content;
        height: auto;
        font-size: 20px;
        color: #303030;
        letter-spacing: -1.56px;
        line-height: 40px;
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(48, 56, 71, 0.15);
        border-radius: 100px;
      }
    }
  }
}









