.application-page {

  .application-title {
    margin-top: 50px;
    margin-bottom: -60px;
  }

  .zarinpal-application-image {
    background: url("../../images/app/zarinpal-application.png") no-repeat;
    margin: 80px auto 30px auto;
    background-size: contain;
  }

  .zarinak-application-image {
    background: url("../../images/app/zarinak-application.png") no-repeat;
    margin: 73px auto 0 auto;
    background-size: contain;
  }

  .zarinpal-application-image,
  .zarinak-application-image {
    width: 392px;
    height: 295px;
  }

  .buttons {
    margin: 40px 0;

    .btn {
      margin-left: 20px;
    }
  }

  .properties {
    ul {
      padding-right: 0;

      li {
        &::before {
          content: "•";
          color: #FAD749;
          display: inline-block;
          height: 20px;
          font-size: 30px;
          position: relative;
          top: 5px;
          margin-left: 15px;
        }
      }
    }

  }

}



// extra small
@media (max-width: 575px) {
  .application-page {
    .zarinpal-application-image,
    .zarinak-application-image {
      width: 375px !important;
      height: 278px !important;
    }

    .p-r-50 {
      padding-right: 20px !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)  and (max-width: 767px){
  .application-page {
    .zarinpal-application-image,
    .zarinak-application-image {
      width: 375px !important;
      height: 278px !important;
    }

    .p-r-50 {
      padding-right: 20px !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  and (max-width: 991px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}