body {
  background-color: #ffffff;
  letter-spacing: -0.5px;
}

.content {
  direction: rtl;
  margin: 10px auto;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $titleFontColor !important;
}

li {
  list-style: none;
}

.white {
  color: #fff !important;
}

.iransans-bold {
  font-family: IRANSansBold !important;
}

.iransans-medium {
  font-family: IRANSansMedium !important;
}

.line-height {
  line-height: 35px;
}

.no-margin {
  margin: 0 !important;
}

.hidden {
  display: none;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.disp-block {
  display: block !important;
}

.hand {
  cursor: pointer;
}

.horizontal-line {
  background-color: #DFE1E4;
  height: 1px;
  width: 100%;
}

.vertical-line {
  background-color: #DFE1E4;
  width: 1px;
  min-height: 100%;
}

.title{
  font-size: $titleFontSize;
  font-family: IRANSansBold;
  color: $titleFontColor;
}

.text {
  line-height: 2em;
}

.top-title {
  color: #828282;
  margin-bottom: 5px;
}

.header-title {
  font-size: $headerTitleFontSize;
  font-family: IRANSansBold;
  color: $headerTitleColor;
}

.title-describe {
  margin-top: 10px;
  max-width: 500px;
}

.read-more {
  display: inline-block;
  margin-top: 20px;
  color: #28457B !important;
}

.left-border {
  border-left: 1px solid #DFE1E4;
}

.right-border {
  border-right: 1px solid #DFE1E4;
}

.p-r-50 {
  padding-right: 50px;
}

.m-t-10 {
  margin-top: 10px;
}


@media only screen and (max-width: 575px) {
  .top-title,
  .header-title,
  .title-describe,
  .read-more,
  .new-zarinpal-description{
    padding: 0 10px !important;
  }
}
