body {
  background-color: #ffffff;
}

.content {
  direction: rtl;
  margin: 10px auto;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
  color: $titleFontColor !important;
}

li {
  list-style: none;
}

.iransans-bold {
  font-family: IRANSansBold;
}

.no-margin {
  margin: 0;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.hand {
  cursor: pointer;
}

.horizontal-line {
  background-color: #DFE1E4;
  height: 1px;
  width: 100%;
}

.vertical-line {
  background-color: #DFE1E4;
  width: 1px;
  min-height: 100%;
}

.title{
  font-size: $titleFontSize;
  font-family: IRANSansBold;
  color: $titleFontColor;
}

.text {
  line-height: 2em;
}

.header-title {
  font-size: $headerTitleFontSize;
  font-family: IRANSansBold;
  color: $headerTitleColor;
}