.content {
  direction: rtl;
  margin: 10px auto;
  font-family: $fontFamily;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

.title{
  font-size: $titleFontSize;
  font-weight: bold;
  color: $titleFontColor;
}

.text {
  line-height: 2em;
}

.header-title {
  font-size: $headerTitleFontSize;
  font-weight: bold;
  color: $headerTitleColor;
}