.faq-page {
  margin-top: 180px;

  #faq {
    .faq-item {
      background: #fff;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03);
      color: #424242;
      margin-bottom: 30px;
      cursor: pointer;

      .icon {
        font-size: 29px;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: -7px;
      }

      h4 {
        display: inline;
        font-size: 18px;
        font-weight: normal;
        margin: 15px 0;
      }

      @media (min-width: 576px) {
        h4 {
          display: inline-block;
        }
      }

      hr {
        border: 1px solid #DFE1E4;
        margin: 0 25px;
        display: none;
      }

      p {
        margin: 30px 25px;
        font-size: 18px;
        display: none;
      }
    }

    .faq-item:last-child {
      margin-bottom: 0;
    }

    .faq-item.show {
      hr, p {
        display: block;
      }
    }
  }
}
