.faq-page {
  margin-top: 180px;

  .faq {
    padding-right: 0;
    .faq-item {
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03);
      color: #424242;
      margin-bottom: 20px;
      cursor: pointer;
      .icon {
        font-size: 29px;
        vertical-align: middle;
        margin-left: 5px;
        float: right;
      }

      .line {
        height: 1px;
        width: 100%;
        background-color: #DFE1E4;
        margin: 10px 0;
      }

      .answer {
        display: none;
        padding: 10px;
      }
    }
  }
}