//New version
.section-new-version {
  .gradient-background {
    &:before {
      content: '';
      top: 0;
      z-index: -2;
      height: 783px;
      bottom: 0;
      background: url("../../images/index/gradiant-top.png") top left no-repeat;
      position: absolute;
      left: calc(57% - 10rem);
      right: 0;
      background-size: 925px 783px;
    }

    .tag {
      display: inline-block;
      font-size: 13px;
      background-color: #F2F3F5;
      border-radius: 14px;
      padding: 4px 10px;

      .label {
        background-color: #ffffff;
        padding: 0 7px;
        display: inline-block;
        border-radius: 14px;
        margin-left: 5px;
      }
    }

    .links {
      a {
        color: $titleFontColor;
        margin: 0 30px;
      }
    }

    .icon-arrow-down {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .request-money {
    width: 360px;
    height: 640px;
    background: url("../../images/index/request-money.png") no-repeat center;
    background-size: 360px 640px;
    float: left;
  }
}

//Pg
.section-pg {
  .pg-background {
    background: url("../../images/index/pg.png") no-repeat;
    width: 335px;
    height: 388px;
    background-size: 335px 388px;
    margin: 0 auto;
  }
}

//Social payment
.section-social-payment {
  .bg-oblique {
    &:before {
      content: '';
      top: 0;
      z-index: -1;
      height: 783px;
      bottom: 0;
      //background: url("../../images/index/bg-oblique.png") top left no-repeat;
      position: absolute;
      left: calc(57% - 10rem);
      right: 0;
      background-size: 925px 783px;
    }
  }
  .social-payment-background {
    background: url("../../images/index/social-image.png") no-repeat;
    width: 455px;
    height: 379px;
    background-size: 455px 379px;
    margin: 0 auto;
  }
}

//Payment needs
.section-payment-needs {

}

//Read more
.section-read-more {
  margin-bottom: 100px;

  .options {
    padding: 30px;

    .left-border {
      border-left: 1px solid #DFE1E4;
    }

    .icon {
      &:before {
        color: #29447A;
      };
    }

    .title {
      position: relative;
      top: 20px;
    }

    .image-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      background-size: 100% !important;
      margin: 0 30px -10px 10px;
      position: relative;
      top: 15px;
    }

    .image-verified-account {
      background: url("../../images/icon/verified-account.png") no-repeat;
    }

    .image-split {
      background: url("../../images/icon/split.png") no-repeat;
    }

    .image-split {
      background: url("../../images/icon/split.png") no-repeat;
    }

    .image-support {
      background: url("../../images/icon/support.png") no-repeat;
    }

    .image-security {
      background: url("../../images/icon/security.png") no-repeat;
    }

    .description {
      padding: 20px;
    }
  }

  .read-more-standards {
    padding: 30px;

    .icon-arrow-left {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }
}


// extra small
@media (max-width: 575px) {
  .tag {
    display: block !important;
    margin: 10px auto;
    width: 230px;
  }

  .xs-social-payment-background {
    width: 100% !important;
    height: 330px !important;
    background-size: 100% 330px !important;
  }

  .left-border {
    border-left: none !important;
  }
}