//New version
.section-new-version {
  .gradiant-background {
    background-image: url("../../images/index/gradiant-top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .links {
      a {
        color: $titleFontColor;
        margin: 0 30px;
      }
    }

    .icon-arrow-down {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .request-money {
    background-image: url("../../images/index/request-money.png");
    height: 640px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
}

//Pg
.section-pg {
  .pg-background {
    background-image: url("../../images/index/pg.png");
    height: 388px;
    width: 335px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
}

//Read more
.section-read-more {
  .icon-warranty {
    &:before {
      content: $icon-zp-shetab;
    }
  }


  .read-more-standards {
    .icon-arrow-left {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }

}