//New version
.index-header {
  background-image: linear-gradient(135deg, #21254E 0%, #2B4A83 100%);
  -webkit-box-shadow: 0 20px 40px 0 rgba(36, 46, 91, 0.26);
  box-shadow: 0 20px 40px 0 rgba(36, 46, 91, 0.26);
  border-radius: 20px;
  margin-top: -30px;

  .custom-index-header {
    ul {
      li:hover {
        border-bottom: 2px solid #fff;
        transition: 400ms;
      }
    }
  }

  .section-new-version {
    .right-box {
      margin-top: 130px;

      .gradient-background {
        margin-right: 30px;
        .tag {
          display: inline-block;
          font-size: 13px;
          padding: 4px 10px;
          margin-bottom: 20px;
          background: rgba(0, 0, 0, 0.12);
          height: 20px;
          border-radius: 100px;

          .tag-label-background {
            background-color: #ffffff;
            color: #424242;
            padding: 0 7px;
            height: 18px;
            display: inline-block;
            border-radius: 14px;
            margin-left: 5px;
            margin-right: -5px;
            margin-top: 1px;
          }

          .label {
            position: relative;
            top: -3px;
          }

          .label-text {
            top: -2px;
            position: relative;
            margin-right: 5px;
          }
        }

        .new-zarinpal-description {
          max-width: 494px;
          padding: 0 0 20px 0;
        }

        .links {
          margin: 40px 0;

          a {
            margin: 0 10px;
          }
        }
      }
    }

    .request-money {
      width: 335px;
      height: 395px;
      background: url("../../images/index/request-money.svg") no-repeat center;
      margin: 0 auto 0 auto;
      position: relative;
      display: inherit;
      top: 10px;
      left: -80px;
    }

    .wave {
      width: 846px;
      height: 509px;
      background: url("../../images/index/wave.png") no-repeat center;
      background-size: cover;
      position: relative;
    }
  }

  .icon-arrow-down {
    display: inline-block;
    font-size: 33px;
    background-color: #FFFFFF;
    box-shadow: 0 -2px 9px 0 rgba(0, 0, 0, 0.10);
    border-radius: 100px;
    color: #21254E;
    position: relative;
    bottom: -22px;
    cursor: pointer;
  }
}

//Pg
.section-pg {
  margin: 90px 0;

  .pg-background {
    font-family: IRANSans !important;
  }
}

//Social payment
.section-social-payment {
  margin: 60px 0 70px 0;

  .gray-bg {
    &:before {
      content: '';
      z-index: -2;
      height: 703px;
      background: url("../../images/index/gray-bg.svg") top left no-repeat;
      position: absolute;
      left: 0;
      top: 960px;
    }
  }
}

//Read more
.section-read-more {
    margin: 60px 0;

    .gold-bg {
      &:before {
        content: '';
        z-index: -2;
        height: 601px;
        width: 144px;
        background: url("../../images/index/gold-bg.svg") top left no-repeat;
        position: absolute;
        right: 0;
      }
    }

    .options {
      padding: 30px;

      .icon {
        &:before {
          color: #29447A;
        }
      ;
      }

      .title {
        position: relative;
        top: 20px;
      }

      .image-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin: 0 20px -10px 10px;
        position: relative;
        top: 27px;
        background-color: #EDF0F4 !important;
        border-radius: 17px;
      }

      .image-verified-account {
        background: url("../../images/icon/verified.svg") no-repeat;
        background-position: 13px !important;
      }

      .image-split {
        background: url("../../images/icon/split.svg") no-repeat;
        background-position: 11px !important;
      }

      .image-support {
        background: url("../../images/icon/support.svg") no-repeat;
        background-position: 13px !important;
      }

      .image-security {
        background: url("../../images/icon/security.svg") no-repeat;
        background-position: 16px !important;
      }

      .description {
        padding: 20px;
      }
    }

    .read-more-standards {
      padding: 30px;
    }
  }

/* Media
   ----------------------------- */

/* extra small */
@media (max-width: 575px) {
  .index-header {
    padding: 30px 10px;

    .right-box {
      .gradient-background {
        margin-right: 0!important;
      }
    }

    .tag {
      display: block !important;
      margin: 0 auto !important;
      width: 155px;
    }
  }

  .btn-go-bottom-section {
    text-align: center !important;
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }

  .left-border {
    border-left: none !important;
  }

  .pg-background {
    margin-top: 80px !important;
  }
}

@media (min-width: 576px)  and (max-width: 767px){
  .index-header {
    padding: 30px 10px;
  }

  .pg-background {
    margin-top: 100px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .index-header {
    padding: 30px 10px;
  }

  .btn-go-bottom-section {
    text-align: center !important;
  }

  .pg-background {
    margin-top: 100px !important;
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
  .index-header {
    margin-left: -5%;
    margin-right: -5%;
    padding: 40px 100px 0 100px;

    .section-new-version {
      .request-money {
        left: -180px !important;
      }
    }
    .wave {
      margin-top: 30px;
      bottom: -20px;
      right: -337px;
    }
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .index-header {
    margin-left: -5%;
    margin-right: -5%;
    padding: 40px 100px 0 100px;

    .wave {
      margin-top: 30px;
      bottom: -20px;
      right: -211px;
    }
  }

  .gray-bg {
    &:before {
      width: 985px;
    }
  }

  .pg-background {
    width: 463px;
  }

  .social-payment-background {
    width: 557px;
  }
}