//New version
.section-new-version {
  .right-box {
    margin-top: 110px;

    .gradient-background {
      &:before {
        content: '';
        z-index: -4;
        bottom: 0;
        background: url("../../images/index/gradiant-top.svg") top left no-repeat;
        position: absolute;
        right: 0;
        background-size: 100% 100%;
      }

      .tag {
        display: inline-block;
        font-size: 13px;
        background-color: #F2F3F5;
        border-radius: 14px;
        padding: 4px 10px;

        .label {
          background-color: #ffffff;
          padding: 0 7px;
          display: inline-block;
          border-radius: 14px;
          margin-left: 5px;
        }
      }

      .new-zarinpal-description {
        max-width: 494px;
        padding: 0 0 20px 0;
      }

      .links {
        margin: 40px 0;

        a {
          margin: 0 10px;
        }
      }

      .icon-arrow-down {
        display: inline-block;
        font-size: 33px;
        background-color: #FFFFFF;
        box-shadow: 0 -2px 9px 0 rgba(0,0,0,0.10);
        border-radius: 100px;
      }
    }

    .btn-go-bottom-section {
      text-align: left;
      padding: 20px 0;
    }
  }

  .blue-bg {
    &:before {
      content: '';
      background: url("../../images/index/blue-bg.svg") top left no-repeat;
      z-index: -1;
      position: absolute;
      background-size: 100% 100%;
    }
  }

  .request-money {
    width: 360px;
    height: 640px;
    background: url("../../images/index/request-money.png") no-repeat center;
    background-size: 360px 640px;
    margin: 0 auto;
  }
}

//Pg
.section-pg {
  margin: 60px 0;
  .pg-background {
    background: url("../../images/index/pg.svg") no-repeat;
    width: 335px;
    height: 388px;
    background-size: 100% 100%;
    margin: 0 auto;
  }
}

//Social payment
.section-social-payment {
  margin: 50px 0 70px 0;

  .gray-bg {
    &:before {
      content: '';
      z-index: -2;
      height: 703px;
      background: url("../../images/index/gray-bg.svg") top left no-repeat;
      position: absolute;
      left: 0;
      top: 960px;
    }
  }

  .social-payment-background {
    background: url("../../images/index/social-image.png") no-repeat;
    width: 455px;
    height: 379px;
    background-size: 455px 379px;
    margin: 0 auto;
  }
}

//Read more
.section-read-more {
  margin: 60px 0;

  .gold-bg {
    &:before {
      content: '';
      z-index: -2;
      height: 601px;
      width: 144px;
      background: url("../../images/index/gold-bg.svg") top left no-repeat;
      position: absolute;
      right: 0;
    }
  }

  .options {
    padding: 30px;

    .icon {
      &:before {
        color: #29447A;
      };
    }

    .title {
      position: relative;
      top: 20px;
    }

    .image-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      background-size: 20px 20px !important;
      margin: 0 20px -10px 10px;
      position: relative;
      top: 27px;
      background-color: #EDF0F4 !important;
      padding: 14px;
      border-radius: 17px;
      background-position: 14px !important;
    }

    .image-verified-account {
      background: url("../../images/icon/verified-account.png") no-repeat;
    }

    .image-split {
      background: url("../../images/icon/split.png") no-repeat;
    }

    .image-support {
      background: url("../../images/icon/support.png") no-repeat;
    }

    .image-security {
      background: url("../../images/icon/security.png") no-repeat;
    }

    .description {
      padding: 20px;
    }
  }

  .read-more-standards {
    padding: 30px;

    .icon-arrow-left {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

/* Media
   ----------------------------- */

/* extra small */
@media (max-width: 575px) {
  .blue-bg {
    &:before {
      width: 307px;
      height: 562px;
      top: -418px;
      left: 0;
    }
  }

  .gradient-background {
    &:before {
      height: 783px;
      width: 100%;
      top: 10px !important;
    }
  }

  .tag {
    display: block !important;
    margin: 10px auto;
    width: 230px;
  }

  .btn-go-bottom-section {
    text-align: center !important;
  }

  .xs-social-payment-background {
    width: 100% !important;
    height: 330px !important;
    background-size: 100% 330px !important;
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }

  .left-border {
    border-left: none !important;
  }

  .pg-background {
    margin-top: 80px !important;
  }
}

@media (min-width: 576px)  and (max-width: 767px){
  .blue-bg {
    &:before {
      width: 276px;
      height: 632px;
      top: -318px;
      left: 0;
    }
  }

  .gradient-background {
    &:before {
      height: 783px;
      width: 100%;
      top: 5px;
      right: -200px;
    }

    .tag {
      display: inline-block;
      font-size: 13px;
      background-color: #F2F3F5;
      border-radius: 14px;
      padding: 4px 10px;

      .label {
        background-color: #ffffff;
        padding: 0 7px;
        display: inline-block;
        border-radius: 14px;
        margin-left: 5px;
      }
    }

    .new-zarinpal-description {
      max-width: 500px;
    }

    .links {
      margin: 40px 0;

      a {
        margin: 0 10px;
      }
    }


    .btn-go-bottom-section {
      text-align: center !important;

      .icon-arrow-down {
        display: inline-block;
        font-size: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 3px 9px 0 rgba(0,0,0,0.10);
        border-radius: 100px;
      }
    }
  }

  .pg-background {
    margin-top: 100px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .blue-bg {
    &:before {
      width: 533px;
      height: 470px;
      top: -132px;
      left: 0;
    }
  }

  .gradient-background {
    &:before {
      height: 783px;
      width: 725px;
      top: 5px;
      right: -200px;
    }
  }

  .btn-go-bottom-section {
    text-align: center !important;
  }

  .pg-background {
    margin-top: 100px !important;
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
  .blue-bg {
    &:before {
      width: 740px;
      height: 570px;
      top: -140px;
      left: 0;
    }
  }

  .gradient-background {
    &:before {
      height: 783px;
      width: 725px;
      top: 5px;
      right: -200px;
    }
  }

  .gray-bg {
    &:before {
      width: 100%;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .blue-bg {
    &:before {
      width: 916px;
      height: 607px;
      top: -23px;
      left: 0;
    }
  }

  .gradient-background {
    &:before {
      height: 783px;
      width: 725px;
      top: 5px;
      right: -200px;
    }

    .tag {
      display: inline-block;
      font-size: 13px;
      background-color: #F2F3F5;
      border-radius: 14px;
      padding: 4px 10px;

      .label {
        background-color: #ffffff;
        padding: 0 7px;
        display: inline-block;
        border-radius: 14px;
        margin-left: 5px;
        margin-right: -5px;
      }
    }

    .links {
      a {
        color: $titleFontColor;
        margin: 0 30px;
      }
    }

    .icon-arrow-down {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .gray-bg {
    &:before {
      width: 985px;
    }
  }
}