.prices-page {
  margin: 90px 0;

  .top-page-image {
    width: 352px;
    height: 349px;
    background: url("../../images/prices.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  .table {
    margin: 0 auto;
    text-align: right;
    width: 100%;

    .table-body {
      .table-row {
        margin: 10px 0;
        background: #FFFFFF;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding: 15px 25px;
      }
    }

    .table-head {
      .table-row {
        background: transparent;
      }
    }
  }

  #links {
    a.btn {
      width: 100%;
      display: inline-block;
      padding: 10px 25px;
      margin: 10px 0;
      box-sizing: border-box;
    }
    @media only screen and (min-width: 660px) {
      a.btn {
        width: 35%;
        margin: 10px;
      }
    }
    @media only screen and (min-width: 1190px) {
      a.btn {
        width: 20%;
        display: inline;
        margin: 0 10px;
      }
    }
  }

  #register {
    span {
      font-size: 28px;
      display: inline-block;
      margin-bottom: 15px;
    }
    @media only screen and (min-width: 998px) {
      span {
        margin-left: 15px;
        margin-bottom: inherit;
      }
    }
  }
}

// extra small
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)  and (max-width: 767px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  and (max-width: 991px){
  .prices-page {
    .table {
      width: 80%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}