.section-zarincard {
  margin: 120px 0 0 0;

  .zarincard-background {
    background: url("../../images/index/pg.png") no-repeat;
    width: 480px;
    height: 332px;
    background-size: 100% 100%;
    margin: 0 auto;
  }
}