$fontFamily: IRANSans;
$titleFontSize: 20px;
$titleFontColor: #000000;
$textFontSize: 14px;

$headerTitleColor: #000000;
$headerTitleFontSize: #000000;

$lineColor: #DFE1E4;
$lineHeight: 1px;

$firstPageIconColor: #284379;
$firstPageIconSize: 20px;
