$fontFamily: IRANSans;
$titleFontSize: 20px;
$titleFontColor: #000000;
$textFontSize: 14px;

$headerTitleColor: #000000;
$headerTitleFontSize: 36px;

$lineColor: #DFE1E4;
$lineHeight: 1px;

$firstPageIconColor: #284379;
$firstPageIconSize: 20px;


//Font icon 1.5
$icon-zp-sync: "\e93a";
$icon-zp-mailbox: "\e944";
$icon-zp-shetab: "\e94d";
$icon-zp-transaction-session: "\e919";
$icon-zp-withdraw: "\e91f";
$icon-zp-history: "\e919";
$icon-zp-transaction: "\e91a";
$icon-zp-date: "\e91f";
$icon-zp-telephone: "\e932";
$icon-zp-location: "\e933";
$icon-zp-calendar: "\e908";
$icon-zp-location: "\e933";
$icon-zp-refresh: "\e92f";
$icon-zp-qr-code: "\e94c";
$icon-zp-edit: "\e945";
$icon-zp-more-vert: "\e947";
$icon-zp-print: "\e949";
$icon-zp-remove-square: "\e91b";
$icon-zp-remove-circle: "\e93f";
$icon-zp-dashboard: "\e901";
$icon-zp-profile: "\e903";
$icon-zp-add-circle: "\e905";
$icon-zp-copouns: "\e907";
$icon-zp-arrow-left: "\e90a";
$icon-zp-arrow-up: "\e90c";
$icon-zp-sign-out: "\e90e";
$icon-zp-lock: "\e910";
$icon-zp-mail: "\e912";
$icon-zp-notification-outline: "\e914";
$icon-zp-people: "\e916";
$icon-zp-person: "\e918";
$icon-zp-cards: "\e91c";
$icon-zp-zarinpal: "\e942";
$icon-zp-web-service: "\e91e";
$icon-zp-add: "\e922";
$icon-zp-attach: "\e924";
$icon-zp-upload: "\e926";
$icon-zp-close: "\e928";
$icon-zp-delete: "\e92a";
$icon-zp-help: "\e92c";
$icon-zp-info: "\e92e";
$icon-zp-ticket: "\e934";
$icon-zp-p2p: "\e936";
$icon-zp-graph: "\e938";
$icon-zp-transaction-trend-up: "\e93b";
$icon-zp-verified: "\e93c";
$icon-zp-add-fund: "\e921";
$icon-zp-report: "\e931";
$icon-zp-menu: "\e94b";
$icon-zp-more-horiz: "\e946";
$icon-zp-mobile: "\e948";
$icon-zp-search: "\e94a";
$icon-zp-remove: "e93e";
$icon-zp-remove-circle-outline: "\e940";
$icon-zp-wallet: "\e902";
$icon-zp-add-box: "\e904";
$icon-zp-cloud: "\e906";
$icon-zp-arrow-down: "\e909";
$icon-zp-arrow-right: "\e90b";
$icon-zp-world: "\e90d";
$icon-zp-tag: "\e90f";
$icon-zp-lock-outline: "\e911";
$icon-zp-notification: "\e913";
$icon-zp-card: "\e915";
$icon-zp-add-person: "\e917";
$icon-zp-request-money: "\e900";
$icon-zp-reconciliation: "\e941";
$icon-zp-easy-pay: "\e91d";
$icon-zp-charts: "\e923";
$icon-zp-backspace: "\e925";
$icon-zp-check-circle: "\e927";
$icon-zp-copy: "\e929";
$icon-zp-error: "\e92b";
$icon-zp-home: "\e92d";
$icon-zp-new-window: "\e930";
$icon-zp-receipt: "\e935";
$icon-zp-setting: "e937";
$icon-zp-transaction-trend-down: "\e939";
$icon-zp-transaction-reconciliation: "\e943";
$icon-zp-visible: "\e93d";