.header {
  .links {
    li {
      color: #303030 !important;
    }
    .btn-login-to-account {
      background-color: #F2F3F5 !important;
      color: #303030 !important;
      .icon-person {
        color: #303030 !important;
      }
    }
  }
}