.header {
  margin-bottom: 30px !important;
  margin-top: 30px !important;

  .white {
    color: #303030 !important;
  }

  .links {
    li {
      color: #303030 !important;
    }
    .btn-login-to-account {
      background-color: #F2F3F5 !important;
      color: #303030 !important;
      .icon-person {
        color: #303030 !important;
      }
    }
  }

  .icon-menu {
    color: #303030 !important;
  }
}