extends partials/layout

include partials/page_title

block content
    include partials/header

    +pageTitle("پرسش های متداول")

    div.faq-page
        div.page-section.gray-section
            div#faq
                div.row.faq-item.animated.fadeInDown
                    div.col-xs-12
                        span.icon.icon-plus
                        h4  روند ثبت نام و فعال سازی حساب کاربری در زرین پال چگونه است؟
                        hr
                        p
                            |   پس از فعال‌سازی حساب کاربری و رسیدن به سطح نقره‌ای در منو سمت راست گزینه‌ی درگاه‌های پرداخت برای شما قابل‌ مشاهده است روی آن کلیک کرده و سپس روی گزینه درخواست درگاه پرداخت کلیک نمایید. در این قسمت فرم را تکمیل کرده و ارسال نمایید. حداکثر طی ۶ ساعت به درخواست شما رسیدگی شده و کد درگاه پرداخت (مرچنت کد) برای شما ارسال می‌گردد که پس از آن می‌توانید در آزمایشگاه زرین‌پال افزونه مورد نظر خود را دریافت نمایید و یا با استفاده از نمونه کدهای موجود در آزمایشگاه زرین‌پال درگاه خود را توسعه دهید.


                div.row.faq-item.show.animated.fadeInDown(onclick='faqCollapsing();')
                    div.col-xs-12
                        span.icon.icon-close
                        h4  روند ثبت نام و فعال سازی حساب کاربری در زرین پال چگونه است؟
                        hr
                        p
                            |   پس از فعال‌سازی حساب کاربری و رسیدن به سطح نقره‌ای در منو سمت راست گزینه‌ی درگاه‌های پرداخت برای شما قابل‌ مشاهده است روی آن کلیک کرده و سپس روی گزینه درخواست درگاه پرداخت کلیک نمایید. در این قسمت فرم را تکمیل کرده و ارسال نمایید. حداکثر طی ۶ ساعت به درخواست شما رسیدگی شده و کد درگاه پرداخت (مرچنت کد) برای شما ارسال می‌گردد که پس از آن می‌توانید در آزمایشگاه زرین‌پال افزونه مورد نظر خود را دریافت نمایید و یا با استفاده از نمونه کدهای موجود در آزمایشگاه زرین‌پال درگاه خود را توسعه دهید.


    include partials/footer