extends partials/layout

block page-variables
    - var pageTitle = seed.lang[lang]['faq']
    - var pageBlackHeader = true

include partials/page_title

block content
    include partials/header

    +pageTitle(seed.lang[lang]['faq'])

    div.faq-page
        div.page-section.gray-section
            ul.faq
                mixin item(questionId, answerId)
                    li.faq-item.question
                        span.animated.fadeIn.icon.icon-plus
                        span.text #{seed.lang[lang]['faqPage'][questionId]}
                            div.answer
                                div.line
                                p #{seed.lang[lang]['faqPage'][answerId]}

                +item('question1', 'answer1')
                +item('question2', 'answer2')
                +item('question3', 'answer3')
                +item('question4', 'answer4')
                +item('question5', 'answer5')
                +item('question6', 'answer6')
    include partials/footer
    script(src="/assets/js/pages/faq.js")