extends partials/layout

block content
    include partials/header

    div.row.section-new-version
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradient-background
                span.tag
                    span.label جدید
                    |بخش طراحی زرین‌پال راه‌اندازی شد
                div.header-title.xs-ta-center
                    | نسخه جدید زرین‌پال
                    | همین‌جاست
                p
                    | #{seed.lang[lang]['newZarinpalDescription']}

                div.links
                    a.btn.btn-create-account(href="#") ایجاد حساب
                    a.btn.btn-get-know-zarinpal(href="#") آشنایی با زرین‌پال

                div.ta-center
                    i.icon-arrow-down

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden-xs.hidden-sm.hidden-md
            div.request-money

    <!--Pg-->
    div.row.section-pg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.pg-background

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p
                    |درگاه پرداخت زرین‌پال
                div.header-title
                    | گذرگاه تراکنش‌های مالی امن
                p
                    |زرین‌پال اولین ارايه دهنده درگاه پرداخت واسط در ایران است، در واقع یک راهکار ساده، جامع و کار‌آمد برای قراردادن امکان پرداخت در بستر اینترنت و موبایل است. با استفاده از زرین‌پال می توانید چندین درگاه پرداخت را به سادگی به وبسایت خود اضافه کنید، سریع‌تر و آسان‌تر امکانات پرداخت را به کسب و کار خود اضافه کنید و با خیالی آسوده درآمد خود را مدیریت کنید.

                div.horizontal-line.ssssw
                a(href="#")
                    span بیشتر بدانید
                    i.icon-arrow-left


    <!--Social payment-->
    div.section-social-payment
        div.row.no-margin
            div.col-lg-6.col-md-6.col-sm-12.col-xs-12.bg-oblique
                p
                    |زرین‌لینک
                div.header-title
                    | پرداخت در شبکه‌های اجتماعی
                p
                    |زرین‌پال کمک می‌کند تا تجارت الکترونیک روز به روز گسترده‌تر شود و ابزار مناسبی باشد حتی برای کسب‌وکارهای مبتنی بر شبکه‌های اجتماعی، ابزاری قدرتمند و قابل اعتماد برای داشتن تجربه‌ای لذت‌بخش از خرید و فروش در فضای آنلاین و الکترونیک.

                div.horizontal-line.ssssw
                a(href="#")
                    span بیشتر بدانید
                    i.icon-arrow-left

            div.col-lg-6.col-md-6.col-sm-12.col-xs-12
                div.social-payment-background.xs-social-payment-background



    <!--Payment needs-->
    div.section-payment-needs
        div.row.no-margin
            div.header-title
                | تمام نیازهای پرداخت آنلاین شما
            p
                |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

            div.horizontal-line.hidden-xs
            a(href="#")
                span بیشتر بدانید
                i.icon-arrow-left

    <!--Read more-->
    div.section-read-more
        div.row.no-margin
            div.col-lg-8.col-md-8.options
                div.row
                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-verified-account
                            span.title ضمانت پرداخت

                        p.description
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-split
                            span.title مسیردهی هوشمند
                        p.description
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.horizontal-line.hidden-xs

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-support
                            span.title پشتیبانی
                        p.description
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-security
                            span.title امنیت
                        p.description
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

            <!--Payment standards-->
            div.col-lg-4.col-md-4.read-more-standards
                div.header-title
                    | استانداردهای پرداخت آنلاین
                p
                    |حوزه‌ی فناوری‌های مالی یا همان فینتک مانند تمام موضوعات دیگر دارای استانداردهایی است که زرین‌پال به عنوان اولین پرداخت‌یار ایران، خودش به تنهایی استاندارد جدید در حوزه‌ی پرداخت آنلاین می‌باشد.

                div.horizontal-line
                a(href="#")
                    span بیشتر بدانید
                    i.icon-arrow-left

    include partials/customers
    include partials/footer