extends partials/layout

block content
    include partials/header


    div.row.section-new-version
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                div.header-title
                    | نسخه جدید زرین‌پال
                    | همین‌جاست
                p
                    |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                div.links
                    a(href="#") ایجاد حساب
                    a(href="#") آشنایی با زرین‌پال

                div.ta-center
                    i.icon-arrow-down

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden-md
            div.request-money


    <!--Pg-->
    div.row.section-pg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.pg-background

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p
                    |درگاه پرداخت زرین‌پال
                div.header-title
                    | گذرگاه تراکنش‌های مالی امن
                p
                    |زرین‌پال اولین ارايه دهنده درگاه پرداخت واسط در ایران است، در واقع یک راهکار ساده، جامع و کار‌آمد برای قراردادن امکان پرداخت در بستر اینترنت و موبایل است. با استفاده از زرین‌پال می توانید چندین درگاه پرداخت را به سادگی به وبسایت خود اضافه کنید، سریع‌تر و آسان‌تر امکانات پرداخت را به کسب و کار خود اضافه کنید و با خیالی آسوده درآمد خود را مدیریت کنید.



    <!--Read more-->
    div.section-read-more
        div.row
            div.col-lg-8.col-md-8
                div.row
                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            i.icon-warranty
                            span.title تست
                        p
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            i.icon-warranty
                            span.title ضمانت پرداخت
                        p
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.
                        div.vertical-line.hidden-xs

                    div.horizontal-line.hidden-xs

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            i.icon-warranty
                            span.title ضمانت پرداخت
                        p
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            i.icon-warranty
                            span.title ضمانت پرداخت
                        p
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

            <!--Payment standards-->
            div.col-lg-4.col-md-4.read-more-standards
                div.header-title
                    | استانداردهای پرداخت آنلاین
                p
                    |حوزه‌ی فناوری‌های مالی یا همان فینتک مانند تمام موضوعات دیگر دارای استانداردهایی است که زرین‌پال به عنوان اولین پرداخت‌یار ایران، خودش به تنهایی استاندارد جدید در حوزه‌ی پرداخت آنلاین می‌باشد.

                div.horizontal-line.hidden-xs
                a(href="#")
                    span بیشتر بدانید
                    i.icon-arrow-left

    include partials/customers
    include partials/footer