extends partials/layout

block variables
    -var pageTitle = 'اپلیکیشن موبایل'

block content

    include partials/header

    div.row.page-head.application-page
        <!--blue and gold background-->
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.description-section
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.image-section

    div.row
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title
                    | #{seed.lang[lang]['growUp']}
                div.header-title
                    | #{seed.lang[lang]['joinToMoreThanFortyThousandsMerchants']}
                p.title-describe
                    | #{seed.lang[lang]['joinToMoreThanFortyThousandsMerchantsDescribe']}

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12


    div.row
        div.col-xs-12.ta-center
            p.header-title
                |#{seed.lang[lang]['zarinpalMerchantCategory']}

    div.row#app
        app


    include partials/footer