extends partials/layout

include partials/page_title

block content

    include partials/header

    div.prices-page


        div.page-section#wages
            div.row
                div.col-md-6.col-xs-12
                    div.img
                        img.img(src='images/what-zarin.png')
                div.col-md-6.col-xs-12.first-md
                    span.top-title   کارمزد
                    h3.header-title  شروع یک بازی بُرد بُرد
                    div.title-describe
                        |   ما در زرین‌پال به بازی بُرد بُرد اعتقاد داریم، کاربران جدید زرین‌پال پس از عضویت می‌توانند پایداری سرویس‌های متنوع زرین‌پال را بیازمایند و در ماه اول به صورت کاملا رایگان و بدون کسر کارمزد تسویه حساب کنند. در ادامه لیست تعرفه‌های زرین‌پال در هنگام تسویه حساب با رویه‌ی زیر دنبال خواهد شد تا ما و شما همراه هم در تجارت الکترونیک به صورت موازی رشد کنیم.

        div.page-section.gray-section#prices
            div.row
                div.col-xs-12
                    div.table
                        div.table-head
                            div.table-row.row.iransans-bold
                                div.table-col.col-md-6.ta-right نوع تسویه حساب
                                div.table-col.col-md-2.xs-hidden.ta-center کارمزد 1٪
                                div.table-col.col-md-2.xs-hidden.ta-center کارمزد 0.5٪
                                div.table-col.col-md-2.xs-hidden.ta-center کارمزد رایگان\
                                div.table-col.col-md-2.xs-visible.ta-center کارمزد
                        div.table-body.iransans-medium
                            div.table-row.row
                                div.table-col.col-md-6.col-xs-9.ta-right  تسویه حساب در ماه اول
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  T
                                div.table-col.col-xs-3.xs-visible.ta-center   رایگان
                            div.table-row.row
                                div.table-col.col-md-6.col-xs-9.ta-right  تسویه حساب به زرین کارت
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  T
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-xs-3.xs-visible.ta-center   0.5%
                            div.table-row.row
                                div.table-col.col-md-6.col-xs-9.ta-right  تسویه حساب به حساب بانکی
                                div.table-col.col-md-2.xs-hidden.ta-center  T
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-xs-3.xs-visible.ta-center   1%
                            div.table-row.row
                                div.table-col.col-md-6.col-xs-9.ta-right  تسویه حساب در سه شنبه های طلایی
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  -
                                div.table-col.col-md-2.xs-hidden.ta-center  T
                                div.table-col.col-xs-3.xs-visible.ta-center   رایگان

        div.page-section#descibe-before
            div.row
                div.col-xs-12
                    h3.header-title  شرح ماوقع
                    div.section-content.line-height
                        | مبالغ تمام تراکنش‌های صورت گرفته از طریق درگاه پرداخت شما وارد کیف‌پول شما در زرین‌پال می‌شود.<br>
                        | هر زمان که نیاز به تسویه‌ حساب باشد، درخواست تسویه حساب می‌تواند به حساب بانکی شما صورت گیرد یا به زرین‌کارت شما که طبق جدول بالا هنگام تسویه حساب مقدار کارمزد مشخص شده از کل مبلغ تسویه شده کسر می‌گردد.<br>
                        | اگر کاربر سطح نقره‌ای باشید زمان انتقال وجه بین ۱ تا ۴ روز کاری می‌باشد و اگر کاربر سطح طلایی باشید، انتقال وجه بین ۱ تا ۴۸ ساعت کاری صورت می‌گیرد که همواره سعی ما برای تسویه حساب کمترین زمان ممکن است.<br>
                        | البته ناگفته نماند که زمان انتقال وجه برای کاربران دارای زرین‌کارت هنگام تسویه حساب و مبلغ ۴۰۰ هزار تومان در هر روز یک بار آنی و مابقی تراکنش‌ها از یک دقیقه تا ۱۲ ساعت است.<br>
                        | در صورت تسویه حساب به زرین‌کارت اگر از قابلیت سه‌شنبه‌های طلایی استفاده کنید کاملا رایگان و بدون کارمزد انتقال وجه صورت می‌گیرد و زمان تسویه حساب در حالت سه‌شنبه‌های طلایی سه‌شنبه پیش رو خواهد بود. لازم به ذکر است که سه‌شنبه‌های طلایی از دوشنبه ساعت ۱۲ ظهر تا سه‌شنبه شب غیرفعال می‌شود.
                        |

        div.page-section.gray-section#links
            div.row.ta-center
                div.col-md-12
                    a.btn.btn-normal(href="#") زرین کارت چیست؟
                    a.btn.btn-normal(href="#") سه‌شنبه‌های طلایی چیست؟
                    a.btn.btn-normal(href="#") کاربر سطح نقره‌ای؟
                    a.btn.btn-normal(href="#") کاربر سطح طلایی؟


        div.page-section.bordered-section#register
            div.row.ta-center
                div.col-md-12
                    span.iransans-bold  قدم اول کسب‌وکار آنلاین‌تان را محکم بردارید
                    a.btn.btn-gold  ثبت نام کنید


    include partials/footer