extends partials/layout

include partials/page_title

block content

    include partials/header

    div.prices-page


        div.page-section#wage
            div.row
                div.col-md-6.col-xs-12
                    div.img
                        img.img(src='images/what-zarin.png')
                div.col-md-6.col-xs-12.first-md
                    span.note   کارمزد
                    h3  شروع یک بازی بُرد بُرد
                    div.section-content
                        |   ما در زرین‌پال به بازی بُرد بُرد اعتقاد داریم، کاربران جدید زرین‌پال پس از عضویت می‌توانند پایداری سرویس‌های متنوع زرین‌پال را بیازمایند و در ماه اول به صورت کاملا رایگان و بدون کسر کارمزد تسویه حساب کنند. در ادامه لیست تعرفه‌های زرین‌پال در هنگام تسویه حساب با رویه‌ی زیر دنبال خواهد شد تا ما و شما همراه هم در تجارت الکترونیک به صورت موازی رشد کنیم.

        div.page-section#descibe-before
            div.row
                div.col-xs-12
                    h3  شرح ماوقع
                    div.section-content
                        | زرین‌پال با حضور در کنار ۴۰,۰۰۰+ کسب‌و‌کار و استارتاپ فعال در وب ایران به عنوان درگاه پرداخت، یعنی شریان اصلی زنده ماندن یک کسب‌و‌کار آنلاین، همواره تلاش می‌کند مجموعه‌ای از بهترین و نوآورانه‌ترین خدمات پرداخت را در اختیار فعالین تجارت الکترونیک قرار دهد. <br>
                        | اگر بخواهیم دیدگاه زرین‌پال را در یک جمله بیان کنیم، ساده‌سازی فرآیند پرداخت الکترونیک اصلِ مطلب را اَدا خواهد کرد که هدف ساده‌تر کردن مراحل پرداخت و افزایش حداکثری پرداخت‌های موفق در زمان تصمیم‌گیری برای پرداخت است.

        div.page-section.ta-center#team
            div.row
                div.col-xs-12
                    span.note   تیم زرین‌پال
                    h3  یک دست صدا ندارد
                    div.section-content
                        | قطعا تلاش تک به تک اعضای تیم جوان و خلاق زرین‌پال هست که از موفقیت‌های زرین‌پال را رقم می‌زند. پیشرفت و رشد تیم زرین‌پال مساوی است با پیشرفت و رشد زرین‌پال. ما در کنار هم بزرگ می‌شویم.


    include partials/footer