@import "~flexboxgrid-sass/flexboxgrid";
$name: xs;

@for $i from 1 through 12 {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    margin-right: 100% / 12 * $i;
    margin-left: 0;
  }
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  @media only screen and (min-width: $size) {
    @for $i from 1 through $grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;
        margin-right: 100% / $grid-columns * $i;
        margin-left: 0;
      }
    }
  }
}


@import "responsive/media";

//Common
@import "./pages/variables";
@import "./pages/fonts";
@import "./pages/common";
@import "./partials/_forms";

//Partials
@import "./partials/animation";
@import "./partials/header";
@import "./partials/blue_header";
@import "./partials/page_title";
@import "./partials/page_section";
@import "./partials/customer";
@import "./partials/footer";

//Pages
@import "./partials/page";
@import "./pages/index";
@import "./pages/contact";
@import "./pages/aboutus";
@import "./pages/prices";
@import "./pages/applications";
@import "./pages/products";
@import "./pages/faq";
@import "./pages/merchants";
@import "./pages/policy";
@import "./pages/terms";
